<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Data Viewer</title>
	<script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
	
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

</head>
<body>
<table id="tab" class="display">
<thead>
	<tr>
		<th th:text="id"></th>
		<th th:text="name"></th>
		<th th:text="file"></th>
		<th th:text="cassid"></th>
		<th th:text="categoryid"></th>
		<th th:text="datefrom"></th>
		<th th:text="frequency"></th>
		<th th:text="markers"></th>
		<th th:text="unit"></th>
		<th th:text="feed"></th>
		<th th:text="userid"></th>
		<th th:text="createdate"></th>
		<th th:text="changedate"></th>
	</tr>
</thead>
<tbody>
	<tr th:each="seria : ${result}">
		<td th:text="${seria.id}"></td>
		<td th:text="${seria.name}"></td>
		<td th:text="${seria.file}"></td>
		<td th:text="${seria.cassid}"></td>
		<td th:text="${seria.categoryid}"></td>
		<td th:text="${seria.datefrom}"></td>
		<td th:text="${seria.frequency}"></td>
		<td th:text="${seria.markers}"></td>
		<td th:text="${seria.unit}"></td>
		<td th:text="${seria.feed}"></td>
		<td th:text="${seria.userid}"></td>
		<td th:text="${seria.createdate}"></td>
		<td th:text="${seria.changedate}"></td>
	</tr>
</tbody>
</table>
<script>
	$(document).ready(function() {
		$('#tab').DataTable();
	} );
	</script>
</body>
</html>
